# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Exponentiation/.vs/Exponentiation/v16/.suo
Exponentiation/.vs/Exponentiation/v16/Browse.VC.db
Exponentiation/.vs/Exponentiation/v16/Browse.VC.db-shm
Exponentiation/.vs/Exponentiation/v16/Browse.VC.db-wal
Exponentiation/.vs/Exponentiation/v16/Browse.VC.opendb
Exponentiation/.vs/Exponentiation/v16/ipch/AutoPCH/686c3174cd1b6b82/SOURCE.ipch
Exponentiation/Exponentiation.sln
Exponentiation/Exponentiation.vcxproj
Exponentiation/Exponentiation.vcxproj.filters
Exponentiation/Exponentiation.vcxproj.user
